.DS_Store

# User settings
Swift plays Pokemon.xcodeproj/**/xcuserdata

# Build thingies
/Build
/.build

# Roms are excluded because of legal stuff…
ROMs/*.gb

# You can download 'Blargg' test ROMs at:
# https://gbdev.gg8.se/wiki/articles/Test_ROMs
ROMs/Tests - Blargg

# We store dumps in zip files, we do not need them unzipped
ROMs/**/Dump
