# build
/Build
/.build

# roms
/ROMs/*
/GameBoyKitBlarggTests/ROMs/*
!/GameBoyKitBlarggTests/ROMs/.gitkeep

# ROM test files
/GameBoyKitROMTests/Bootrom/Dump
/GameBoyKitROMTests/Blargg/Dumps
/GameBoyKitROMTests/Blargg/ROMs
/GameBoyKitROMTests/Tetris/Dump
/GameBoyKitROMTests/Tetris/Tetris.gb

# mac
.DS_Store
/*.xcodeproj
