.DS_Store
Swift plays pokemon.xcodeproj/xcuserdata

/Build
/.build

# Roms are excluded because of legal stuff…
ROMs/*

# ROM test files
/Tests/GameBoyKitROMTests/Bootrom/Dump

/Tests/GameBoyKitROMTests/Blargg/ROMs
/Tests/GameBoyKitROMTests/Blargg/Dumps
/Tests/GameBoyKitROMTests/Blargg/Dumps.zip

/Tests/GameBoyKitROMTests/Tetris/Dump
/Tests/GameBoyKitROMTests/Tetris/Tetris.gb
